.container{
    background: linear-gradient(90deg, var(--primary-medium) 0%, var(--primary-dark));
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-left: 1rem;
    height: 5rem;
}